.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  height: 3rem;
  background-color: white;
}

.navbar-menu {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  width: 25%;
}

.nav-link {
  text-decoration: none;
}

.navbar-logo {
  font-size: 1.5rem;
}

.menu-icon {
  display: none;
}

.navbar-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.course-title {
  padding-left: 1rem;
}

@media screen and (max-width: 992px) {
  .menu-icon {
    display: block;
  }
}
