.section {
  padding: 1rem;
}
.section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-info {
  font-size: 0.8rem;
}

.section-lessons {
  display: none;
}

.active {
  display: flex;
  flex-direction: column;
}
